{% extends "base.html" %}
{% block title %} Kontakt {% endblock %}
{% block content %}

	<div class="jumbotron">
    	<h2>Kontakt do nas</h2>

        <div class="row">
            <div class="col-sm-8">
                <h4>Jak dojechać?</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d312776.97975983936!2d20.781010341376142!3d52.23302686117451!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecc669a869f01%3A0x72f0be2a88ead3fc!2sWarszawa!5e0!3m2!1spl!2spl!4v1491934395531" height="300" style="width: 100%;" frameborder="0" style="border:0" allowfullscreen></iframe>

                <h4>Adres</h4>
                <p style="font-size: 120%;">
                    Warszawa, 00-00 <br>
                    ul. Sort Books 32 <br>
                </p>
            </div>
            <div class="col-sm-4">
                <h4>Godziny otwarcia</h4>
                    Pon-wt: 8<sup>40</sup>-17<sup>00</sup><br>
                    Śr-pt: 8<sup>00</sup>-15<sup>00</sup><br>
                    Sobota: 9<sup>00</sup>-12<sup>00</sup><br>

                <div style="margin-bottom: 3%;"></div>

                <h4>Kontakt</h4>
                    <i class="fa fa-phone" aria-hidden="true"></i> 123-123-123 <br>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i> hi@jakub.ovh

                <div style="margin-bottom: 3%;"></div>

                <h4>Social media</h4>
                    <div style="font-size: 2em;">
                        <a href="http://facebook.com/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                        <a href="http://twiter.com/" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                        <a href="http://plus.google.com/" target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
                        <a href="http://github.com/" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a>
                    </div> 
            </div>
        </div>
	</div>

{% endblock %}