{% extends "base.html" %}
{% block title %} Logowanie {% endblock %}
{% block content %}
	
		{% if error: %}
			<div class="alert alert-danger alert-dismissable">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
  				<strong>Uwaga!</strong> {{error}}
			</div>
		{% endif %}

		<div class="panel_login">
			<p>Zaloguj się do witryny:</p>
			<form method="post">

				<input type="text" name="username" placeholder="Login użytkownika" class="adjust" required> <br>
				<input type="password" name="password" placeholder="Hasło dostępowe" class="adjust" required> <br>

				<input type="submit" value="Zaloguj" class="adjust">

			</form>
		</div>

{% endblock %}