{% extends "base.html" %}
{% block title %} Ranking {% endblock %}
{% block content %}

	<div class="jumbotron" style="min-height: 600px;">
    	<h2>10 najaktywnijszych użytkowników</h2>
        <p>Lista 10 osób, które najwięcej przeczytały książek w naszje bibliotece.</p>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Miejsce</th>
                    <th>Imie</th>
                    <th>Wynik*</th>
                    <th>Profil</th>
                </tr>
            </thead>
            <tbody>
                {% for index in range( ranks|length ): %}
                <tr>
                    <td>{{ index+1 }}</td>
                    <td>{{ ranks[index][1]['name'] }}</td>
                    <td>{{ ranks[index][1]['count'] }}</td>
                    <td><a href="/profile/{{ ranks[index][0] }}">Profil</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        *wynik - ilość przeczytanych książek z bilbioteki
	</div>

{% endblock %}